
/* I used a lot of Bootstrap Utility Classes and flexbox through bootstrap to
 align the page.  */

body{
    background-color: #0B486B;
    color: #CFF09E;
    
    /* This padding-top is required, otherwise the top row of the  content 
    (custom chairs crafted etc...) will be covered by the nav bar */
    padding-top:101px;
}

/* This helps me identify where my cols are and how much space they take up.
Will NOT be in final product */
.my-col {
    border: 2px solid red;
}

/* This helps me identify where my rows are and how much space they take up.
Will NOT be in final product */
.my-row{
    border:2px dashed black;
}

/* This is used to change the background color of the fixed nav bar. */
.navbar-custom{
     background-color: #3B8686;
}


/* This price-col gives the card its height  */
.price-col{
    height:300px;
    /* margin-bottom:400px; */
}

.footer-row{
    /* background-color: darkcyan; */
    
}

/* This is how I tried to originally align the text under the email input.
This was to push the whole row to the left, but it did not work. */
.row-mar {
    /* margin-right: 100px; */
}

/* This is the border for the 3 pricing cards at the bottom */
.price-1{
    border:1px solid black;
}

/* This adds a stripe of color to the price cards at the bottom. background-color and
text color TBD */
#product {
    background-color: white;
    color: teal;
}

html {
    font-size: 1rem;
  }

  .copyright {
    font-size: 12px;
}
.my-anchor{
    padding-top: 50px;
    margin-top: -40px;
}

.btn-outline-warning{
    border-color: #A8DBA8;
    color:#A8DBA8;
}

.btn:hover{
    background-color:#97e597 !important;
    border-color: #97e597 !important;
    box-shadow:2px 3px 3px black;
    color:aliceblue ;
}

/* .btn-outline-warning:active:focus{
    background-color: red;
    background-image: none;
    border-color: red !important;
    border-radius: red !important;
    box-shadow: red;
}
.btn-outline-warning:active{
    background-image: none;
    background-color: none;
    border-radius: none;
    border: none;
    border-style: none;
} */
/* .btn:focus, .btn:active, .btn:current{
    outline: none;
    box-shadow: none;
    border:none;
    border-radius: none;
    box-shadow: none;
} */