
/* I used a lot of Bootstrap Utility Classes and flexbox through bootstrap to
 align the page.  */

body{
    background-color: #0B486B;
    color: #CFF09E;
    font-family: 'Raleway', sans-serif;
    /* This padding-top is required, otherwise the top row of the  content 
    (custom chairs crafted etc...) will be covered by the nav bar */
    padding-top:101px;
}

html {
    font-size: 1rem;
  }
/* This helps me identify where my cols are and how much space they take up.
Will NOT be in final product */
.my-col {
    border: 2px solid red;
}

/* This helps me identify where my rows are and how much space they take up.
Will NOT be in final product */
.my-row{
    border:2px dashed black;
}

/* This is used to change the background color of the fixed nav bar. */
.navbar-custom{
     background-color: #3B8686;
}


/* This price-col gives the card its height  */
.price-col{
    height:300px;
    /* margin-bottom:400px; */
}

.footer-row{
    /* background-color: darkcyan; */
    
}

/* This is how I tried to originally align the text under the email input.
This was to push the whole row to the left, but it did not work. */
.row-mar {
    /* margin-right: 100px; */
}

/* This is the border for the 3 pricing cards at the bottom */
.price-1{
    border:1px solid black;
}

/* This adds a stripe of color to the price cards at the bottom. background-color and
text color TBD */
#product {
    background-color: rgba(255, 255, 255, 0.815);
    color: #0b486b;
}

/* Copyright class changes the font size of the footer containing copyright info */
  .copyright {
    font-size: 12px;
}
/* Copyright-row changes the background to the copyright footer */
.copyright-row {
    background-color: white;
}


/* This changes the text and border color of all buttons, overriding bootstrap  */
.btn-outline-warning{
    border-color: #A8DBA8;
    color:#A8DBA8;
    box-shadow: 4px -3px 4px teal;
}

.btn-outline-warning:focus{
    border-color: #A8DBA8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.5);
}

/* Btn hover overrides bootstrap to changes the background, border, and text color of the buttons when hovering*/
.btn:hover{
    background-color:#97e597 ;
    border-color: #97e597 ;
    color:rgba(0, 0, 0, 0.623);
    outline: 0;
}

/* Changes button characteristics after the button is clicked */
.btn:active{
    background-color:#97e59788 ;
    border-color: #97e5976c ;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.5) !important;
}

.btn:focus{
    border:2px solid #97e59793;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.5);
}



/* .btn-outline-warning:active:focus{
    background-color: red;
    background-image: none;
    border-color: red !important;
    border-radius: red !important;
    box-shadow: red;
}
.btn-outline-warning:active{
    background-image: none;
    background-color: none;
    border-radius: none;
    border: none;
    border-style: none;
} */
/* .btn:focus, .btn:active, .btn:current{
    outline: none;
    box-shadow: none;
    border:none;
    border-radius: none;
    box-shadow: none;
} */

input[type = email], input[type = email]:focus {
    background-color: inherit;
    border-color: #97e597;
    color:#97e597;
}
input[type = email]:active{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 255, 255, 0.5);
    border-color: #97e5976c;
}